@font-face {
  font-family: "car crash";
  src: url("fonts/car_crash.ttf");
}
@font-face {
  font-family: "evogria";
  src: url("fonts/Evogria.otf");
}
section {
  height: 800px;
}
.navbar {min-height: 70px;}
.nav_header {height: 70px;}
.navbar-nav li a {line-height: 40px;}
.navbar-inverse {background-color: #4e4e4e;}
.navbar-inverse .navbar-nav>.active>a {background-color: #f60000;}
.navbar-inverse .navbar-nav li a:hover {background-color: #080808;}

#home {
  height: 800px;
  background-image: url("img/speed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.homeText {
  margin-top: 20%;
  opacity: .7;
  color: white;
  font-family: "evogria";
}
.homeText h1 {font-size: 100px;}
.homeText h2 {font-size: 70px;}

#about {
  background-color: white;
  background-image: url("img/bmw.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
#about .container, #achat .container, #vente .container, #contact .container {padding: 60px 0;}
#achat {background-color: black; color: white;}
#vente {background-color: #b40f02; color: white;}
