@font-face {
  font-family: "car crash";
  src: url("fonts/car_crash.ttf");
}
@font-face {
  font-family: "evogria";
  src: url("fonts/Evogria.otf");
}
@font-face {
  font-family: "steelfish";
  src: url("fonts/steelfish_rg.ttf");
}
@font-face {
  font-family: "blue highway";
  src: url("fonts/blue highway_rg.ttf");
}
body{
  font-family: "blue highway";
}
h2 {
  font-family: "evogria";
}
section {
  height: 800px;
}
form {
  padding: 3%;
  margin-top: 2%;
}
p {
  font-size: 20px;
}
.navbar {
  min-height: 70px;
  font-size: 15px;
}
.nav_header {height: 70px;}
.navbar-nav li a {line-height: 40px;}
.navbar-inverse {background-color: #4e4e4e;}
.navbar-inverse .navbar-nav>.active>a {background-color: #f60000;}
.navbar-inverse .navbar-nav li a:hover {background-color: #080808;}

#home {
  height: 800px;
  background-image: url("img/speed.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .row {
  margin-top: 20%;
  opacity: .7;
  color: white;
  font-family: "evogria";
}
#home h1 {font-size: 100px;}
#home h2 {font-size: 70px;}

#about {
  background-color: #141414;
  color: white;
}
#about .container .row:first-child p {
  margin-top: 2%;
}
#about .container .row:nth-child(2){
 padding-top: 6%;
}
#about .container .row:nth-child(2) div {
  border: 2px solid white;
    font-size: 30px;
    height: 200px;
    padding-top: 6%;
    color: white;
}
#about .container .row:nth-child(2) div:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#about .container .row:nth-child(2) div a:hover {
  text-decoration: none;
}
#about .container .row:nth-child(3) div {
  display: none;
  color: white;
  font-size: 15px;
  padding: 1%;
  height: 100px;
}
#about .container .row:last-child {
  margin-top: 5%;
}
#about .container, #achat .container, #vente .container, #contact .container {padding: 60px 0;}
#achat {
   background-image: url("img/bmw.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#vente {background-color: #b40f02; color: white;}
#vente .slideshow {
  height: 500px;
  margin-top: 2%;
}
.carousel-control {
  width: 5%;
}
#carousel, .carousel-inner, #carousel .item, #carousel .item img {
  width: 100%;
  height: 100%;
}
.rachat {display: none;}
#envoyer span {margin-right: 7%;}
.help-block {display: none;}
